@import url("https://fonts.googleapis.com/css?family=Noto+Sans&display=swap");
@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");

body {
  background: rgb(19, 19, 19);
  color: #fff;
  font-family: "Noto Sans", sans-serif;
}

.photo-grid {
  display: grid;
  gap: 3rem;

  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  grid-auto-rows: 240px;
  grid-auto-flow: dense;

  margin-right: 10%;
  margin-left: 10%;

  margin-top: 20px;
}

.fa {  
  width: 25px;
  font-size: 25px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  color: white;
}

a {
  text-emphasis: none;
  text-decoration: unset;
  color: #fff;
}

.card {
  display: flex;

  flex-direction: column;
  justify-content: center;
  align-items: center;

  font-size: x-small;
  background: #353535;
  font-size: 1.5rem;
  color: #fff;

  box-shadow: rgba(3, 8, 20, 0.1) 0px 0.15rem 0.5rem,
    rgba(2, 8, 20, 0.1) 0px 0.075rem 0.175rem;
  height: 100%;
  width: 100%;
  border-radius: 4px;
  transition: all 500ms;
  overflow: hidden;

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  cursor: pointer;
}
.card:hover > .description {
  visibility: visible;
  opacity: 1;
}

.card:hover {
  box-shadow: rgba(2, 8, 20, 0.1) 0px 0.35em 1.175em,
    rgba(2, 8, 20, 0.08) 0px 0.175em 0.5em;
  transform: translateY(-3px) scale(1.1);
}

.description {
  position: absolute;
  padding: 10px;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
  color: #fff;
  visibility: hidden;
  opacity: 0;
}

/* Medium screens */
@media screen and (min-width: 600px) {
  .tall {
    grid-row: span 2 / auto;
  }

  .wide {
    grid-column: span 2 / auto;
  }
}
/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 100; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.9); /* Black w/ opacity */
  cursor: pointer;
}

/* Modal Content (Image) */
.modal-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
}

/* Caption of Modal Image (Image Text) - Same Width as the Image */
#caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 150px;
}

/* Add Animation - Zoom in the Modal */
.modal-content,
#caption {
  animation-name: zoom;
  animation-duration: 0.6s;
}

@keyframes zoom {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

/* The Close Button */
.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 600px) {
  .modal-content {
    width: 100%;
  }
}

.navbar {
  display: flex;
  align-items: center;
  color: white;
}

.navbar__title {
  margin-right: auto;
  font-size: 150%;
  padding: 12px 16px;
}

.navbar__item {
  padding: 16px 16px;
  cursor: pointer;
  vertical-align: middle;
  text-decoration: none;

  text-emphasis: none;
  text-decoration: unset;
}
